main {
    margin-inline-start: 0.4em;
    /* width: calc(100vw - 8em); */
}

body {
    font-family: sans-serif
}

#root {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color:var(--bgc-main);
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}
