main {
    /* width: calc(100vw - 8em); */
    padding-inline: 3em;
}

body {
    font-family: sans-serif
}

#root {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color:var(--bgc-main);
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}
