.filter-container > * {
    margin-block-end: 1em;
}

.bug-filter {
    background-color: var(--clr2bg);
}

.bug-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
}

.filter-options {
    padding: 0;
}

.filter-container select {
    margin-inline: 1em;
}

.filter-container .filter-options :is(input, select) {
    border-radius: 1em;
    border: 1.7px solid lightgray;
    height: 3em;
    width: 10em;
}

.sorting-options {
    margin-inline-end: 2em;
}

.pagination > * { 
    cursor: pointer;
    margin-inline: 0.5em;
    border-radius: 13px;
    padding: 0.7em;
    transition: 0.3s;
}

.pagination > *:hover {
    background-color: rgb(27, 58, 115);
}