.filter-container > * {
    margin-block-end: 1em;
}

.bug-filter {
    background-color: var(--clr2bg);
}

.bug-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
}

.filter-options {
    padding: 0;
}

.filter-container select {
    margin-inline: 1em;
}

.filter-container .filter-options :is(input, select) {
    border-radius: 1em;
    border: 1.7px solid lightgray;
    height: 3em;
    width: 15em;
    padding-inline-start: 1em;
}

.sorting-options {
    margin-inline-end: 2em;
}

.pagination {
    width: 100%;
    justify-content: end;
    color: rgba(60, 60, 60, 0.784);
    margin-top: 6em;
}

.pagination > * { 
    cursor: pointer;
    margin-inline: 0.5em;
    border-radius: 13px;
    padding: 0.7em;
    transition: 0.2s;
}

.pagination .arrows i {
    cursor: pointer;
    padding: 0.5em;
    border-radius: 10px;
}

.pagination label {
    font-weight:400;
}

.pagination :first-child {
    margin-right: 1em;
}

.pagination > i:hover {
    background-color: rgb(231, 231, 231);
}