

.folder-container {
    gap: 2em;
    margin-block-end: 1.5em;
    font-weight: 200;
    color: rgb(136, 136, 136);
}

.folder-container label {
    cursor: pointer;
}

.folder-container > *.active {
    text-decoration: underline;
    text-decoration-thickness: 2.4px;
    text-underline-offset: 8px;
    font-weight:700;
    color: rgb(24, 32, 78);
}