.bugs-header {
    display: flex;
    align-items: end;
    height: 6em;
}

.bug-header-tools {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    gap: 20px;
    color: lightslategray;
}

.bug-header-tools > * {
    width: 2em;
    height: 2em;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.bug-header-tools > *:hover {
    background-color: lightgray;
}

.bug-header-tools img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border:1.4px solid lightgray;
}

h1 {
    color: rgb(17,28,67);
    margin-bottom: 1.6em;
}
