table.bug-table {
    min-width: calc(100vw - var(--sidebar-size) - (4em * 2));
    max-width: calc(100vw - var(--sidebar-size) - (3em * 2));
    height: 30em;
    border-collapse: collapse;
    border: none;
    font-size: 0.9em;
    color: lightslategray;
    border-bottom: 2.5px solid rgb(230, 230, 230);
}


table.bug-table thead {
    background-color: rgb(244, 244, 244);
    border-collapse: collapse;
    text-transform: capitalize;
    border-radius: 1em;
}

.text-overflow-manage {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table td {
    border: none;
    margin: 0;
}

table tbody td {
    overflow: hidden;
    /* Hide text that goes beyond the box */
    white-space: nowrap;
    /* Prevent text from wrapping */
    text-overflow: ellipsis;
}

table.bug-table th {
    position: relative;
    color: rgba(95, 95, 95, 0.818);
    font-weight: 700;
    text-align: start;
    margin: 0;
    border: none;
    padding-block: 1.5em;
    cursor: pointer;
    transition: 0.1s background;
}

table.bug-table th:hover {
    background-color: lightgray;
}

table.bug-table th i {
    margin-left: 4px;
}

table.bug-table :is(th, td) {
    padding-inline-start: 0.5em;
}

table.bug-table tbody tr:hover {
    /* background-color: rgb(246, 246, 246); */
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.353);
}

table.bug-table tbody tr {
    transition: background 0.1s;
    max-height:2em;
}

table.bug-table tbody tr {
    border-bottom: 1px solid rgb(230, 230, 230);
}
table.bug-table :is(tbody, thead) :is(td, th).severity {
    text-align: start;
}

.severity div {
    border-radius: 1em;
    padding: 0.5em 1em;
    width: calc(max-content);
    display: inline-block;
}

.status-blue {
    color: rgb(162, 195, 248);
    background-color: rgb(236, 243, 254);
}

.status-green {
    color: rgb(126, 232, 156);
    background-color: rgb(229, 255, 238);
}

.status-yellow {
    color: rgb(228, 185, 66);
    background-color: rgb(255, 249, 211);
}

.status-red {
    color: rgb(200, 37, 37);
    background-color: rgb(255, 183, 183);
}

.dir-popdown {
    position: absolute;
    top: 50px;
    background-color: rgba(255, 255, 255, 0.975);
    /* border: 1px solid lightgray; */
    border-radius: 1em;
    font-weight: 200;
    min-width: 8.5em;
}

.dir-popdown>* {
    padding: 8px;
    transition: 0.2s;
    border-radius: 10px;
    margin: 0;

}

.dir-popdown>*:hover {
    background-color: lightgray;
}

.bug-actions>* {
    padding: 0.5em;
    margin-inline: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.bug-actions .remove-bug-btn {
    background-color: rgb(252, 179, 179);
    color: rgb(198, 25, 25);
}

.bug-actions .remove-bug-btn:hover {
    background-color: rgb(198, 25, 25);

    color: rgb(252, 179, 179);
}

.bug-actions .edit-bug-btn {
    background-color: rgb(181, 227, 255);
    color: rgb(28, 141, 211);
}
.bug-actions .edit-bug-btn:hover {
    background-color: rgb(28, 141, 211);
    color: rgb(181, 227, 255);
}
.details-bug-btn {
    background-color: rgb(196, 255, 205);
    color: rgb(38, 198, 51);
}

.details-bug-btn:hover {
    background-color: rgb(38, 198, 51);
    color: rgb(196, 255, 205);
}
