table.bug-table {
    min-width: calc(100vw - var(--sidebar-size) - (3em * 2));
    height: 20em;
    border-collapse: collapse;
    border: none;
}


table.bug-table thead {
    background-color: rgb(225, 225, 225);
    border-collapse: collapse;
}

table td {
    border: none;
    margin: 0;
}

table.bug-table thead td {
    color: rgb(93, 93, 93);
    font-weight:700;
    text-align: start;
    margin: 0;
    padding-inline-start: 1em;
    padding-inline-end: 0;
    border: none;
    padding-block: 1.5em;
}

table.bug-table tbody td.severity {
    text-align: center;
}