:root {

  --bgc-main: white;
  --bgc-aside: rgb(17,28,67);

  --active-content: rgb(200,188,246);

  --clr1: rgb(96, 107, 91);
  --clr2: rgb(120, 99, 110);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 